<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="app.component.css">

  <!-- Tailwind CSS -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div class="container m-auto p-10">
  <div class="page shadow-xl rounded-md border-2 p-4">
    <div class="grid grid grid-cols-10 my-5">
      <div class="col-span-3 mx-5">
        <div class="flex flex-col items-center">
          <img src="{{ linkedinProfile?.profile_pic_url }}" class="rounded-full m-5" width="75%">
        </div>

        <div class="my-10">
          <h2 class="mb-3">LENGUAJES:</h2>

          <ul class="list-disc px-8">
            <li *ngFor="let language of languages">{{ language }}</li>
          </ul>
        </div>

        <div class="my-10">
          <h2 class="mb-3">CONTACTO:</h2>

          <ul class="px-5">
            <li>
              <i class="fa fa-envelope mr-2"></i>
              <a href="mailto:dani-mac@hotmail.es" target="_blank">dani-mac@hotmail.es</a>
            </li>

            <li>
              <i class="fab fa-linkedin-in mr-2"></i>
              <a href="https://www.linkedin.com/in/danimacs" target="_blank">danimacs</a>
            </li>

            <li>
              <i class="fab fa-github mr-2"></i>
              <a href="https://github.com/danimacs" target="_blank">danimacs</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-span-7">
        <h1 class="text-2xl">{{ linkedinProfile?.full_name }}</h1>
        <h2 class="text-lg">{{ linkedinProfile?.headline }}</h2>
        <p class="mt-5">{{ linkedinProfile?.summary }}</p>

        <hr class="mt-5">

        <div class="my-5">
          <h2 class="text-lg mb-3">EXPERIENCIA LABORAL:</h2>

          <div *ngFor="let experience of linkedinProfile?.experiences" class="mb-5">
            <h3 class="font-bold">{{ experience.title }}</h3>

            <p>{{ experience.company }} · {{ experience.location }}</p>

            <p class="font-light text-sm">{{ experience.starts_at.month }}/{{ experience.starts_at.year }} -
              <span *ngIf="experience.ends_at !== null">
                {{ experience.ends_at.month }}/{{ experience.ends_at.year }}
              </span>

              <span *ngIf="experience.ends_at === null">
                actualidad
              </span>
            </p>
          </div>
        </div>

        <hr>

        <div class="my-5">
          <h2 class="text-lg mb-3">EDUCACIÓN:</h2>

          <div *ngFor="let education of linkedinProfile?.education" class="mb-5">
            <h3 class="font-bold">{{ education.field_of_study }}</h3>

            <p *ngIf="education.degree_name != null">{{ education.degree_name }}</p>

            <p class="font-light text-sm">
              {{ education.starts_at.month }}/{{ education.starts_at.year }} -
              {{ education.ends_at.month }}/{{ education.ends_at.year }}
            </p>
          </div>
        </div>

        <hr>

        <div class="my-5">
          <h2 class="text-lg mb-3">PROYECTOS PERSONALES:</h2>

          <div class="my-5">
            <span *ngFor="let language of languages" (click)="filterRepositories(language)"
                  class="px-4 py-2 mx-2 rounded-full text-gray-500 bg-gray-200 font-semibold text-sm cursor-pointer">
              {{ language }}
            </span>

            <span (click)="resetFilterRepositories()" class="px-4 py-2 mx-2 rounded-full text-gray-500 bg-gray-200 font-semibold text-sm cursor-pointer">
              <i class="fa fa-reply" aria-hidden="true"></i>
            </span>
          </div>

          <div *ngFor="let repository of repositoriesShowing" class="mb-5">
            <h3 class="font-bold underline"><a href="{{ repository.html_url }}">{{ repository.name }}</a></h3>
            <p>{{ repository.description }}</p>
            <p class="font-light text-sm"> {{ repository.language }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-5"></div>

  <div class="page shadow-xl rounded-md border-2 p-4">
    <div class="grid grid grid-cols-10 my-5">
      <div class="col-span-3 mx-5"></div>

      <div class="col-span-7">
        <div class="my-5">
          <h2 class="text-lg mb-3">CERTIFICACIONES:</h2>

          <div *ngFor="let certification of linkedinProfile?.certifications" class="mb-5">
            <h3 class="font-bold {{ certification.url != null ? 'underline' : '' }}"><a
              href="{{ certification.url != null ? certification.url : 'javascript:void(0)' }}"
              target="_blank">{{ certification.name}}</a>
            </h3>

            <p>{{ certification.authority }}
              <span *ngIf="certification.license_number !== null">· {{ certification.license_number }}</span>
            </p>

            <p class="font-light text-sm">{{ certification.starts_at.month }}/{{ certification.starts_at.year }}
              <span *ngIf="certification.ends_at !== null">
                - {{ certification.ends_at.month }}/{{ certification.ends_at.year }}
              </span>
            </p>
          </div>
        </div>

        <hr>

        <div class="my-5">
          <h2 class="text-lg mb-3">IDIOMAS:</h2>

          <ul class="mb-5">
            <li *ngFor="let language of linkedinProfile?.languages" class="font-bold my-3">{{ language }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
